<!DOCTYPE html>
<html>
    <head>
        <title>Members of the Session</title>
    </head>

    <body>
        <h1>Welcome to this page!</h1>
        
        <br>
        <br>

        <h2>Data has been submitted Successfully!! Thank You :)</h2>
        
        <!--
        <table>
            <thead>
                <tr>
                    <th>S.NO.</th>
                    <th>Person - Name</th>
                    <th>Person - Age</th>
                    <th>Person - Choice</th>
                </tr>
            </thead>

            <tbody>
                {% for auser in User %}
                <tr>
                    <th>{{loop.index0}}</th> 
                    <td>{{auser['name']}}</td>
                    <td>{{auser['age']}}</td>
                    <td>{{auser['choice']}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
-->

    </body>
</html>